<%- include ('./indexheader.ejs') %>

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
		
			
			
			<!-- =========================== Contact Us =================================== -->
			<section class="gray">
				<div class="container">
                    <h4 class="text-center" style="margin-bottom: 30px;text-align: center;"><%=msg%> </h4>
				
					<div class="row mb-4">
						
						<!-- <div class="col-lg-4 col-md-4">
							<div class="contact-box">
								<img src="assets/img/us-marker.png" class="mx-auto" alt="">
								<h4>Global Headquarters</h4>
								810 Clis Road,<br>
								Indraprash NW11 0PU, India
							</div>
						</div>
						
						<div class="col-lg-4 col-md-4">
							<div class="contact-box">
								<img src="assets/img/india-marker.png" class="mx-auto" alt="">
								<h4>Evolphin India</h4>
								virasat@gmail.com<br>
								my.virasat@gmail.com
							</div>
						</div> -->
						<div class="col-lg-12 col-md-12">
							<div class="contact-box">
								<img src="/assets/img/india-marker.png" class="mx-auto" alt="">
								<h4>130 , near shiv mandir, village badraula, faridabad, Haryana-121101</h4>
								info.pureasy@gmail.com<br>
								9650761037
							</div>
						</div>
						
					</div>
					
					<div class="row mt-5 align-items-center">
						
						<div class="col-lg-5 col-md-12 hide-91">
							<img src="/assets/img/preet-o.png" class="img-fluid rounded" alt="" />
						</div>

                        
						<div class="col-lg-7 col-md-12">
							<div class="contact-form">
                               
								<form action='/contactus/submit' method='post'>
                                    
									<div class="form-row">
									
										<div class="form-group col-md-6">
										  <label>Name</label>
										  <input type="text" name="name" class="form-control" required placeholder="Name">
										</div>
										
										<div class="form-group col-md-6">
										  <label>Email</label>
										  <input type="email" name="email" class="form-control" required placeholder="Email">
										</div>
									</div>



									
                                    <div class="form-row">
                                    <div class="form-group col-lg-6 col-md-6">
										<label>Mobile Number</label>
										<input type="number" name="number" class="form-control"  placeholder="Mobile Number">
									</div>

									<div class="form-group col-lg-6 col-md-6">
										<label>Subject</label>
										<input type="text" name="subject" class="form-control" required placeholder="Subject">
									</div>

</div>
									
									<div class="form-group col-lg-12 col-md-12">
										<label>Message</label>
										<textarea class="form-control" name="message" required placeholder="Type Here..."></textarea>
									</div>
									
									<div class="form-group col-lg-12 col-md-12">
									<button type="submit" class="btn btn-primary">Send Request</button>
									</div>
									
								</form>
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- =========================== Contact Us =================================== -->

			
			
			
            <%- include ('./indexfooter.ejs') %>
		