<%- include ('./indexheader.ejs') %>

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			

			
			
			<!-- =========================== Login/Signup =================================== -->
			<section>
				<div class="container">
					
					<div class="row">
						
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="login_signup">
								<h3 class="login_sec_title">Login / Register</h3>
                                <form action="/login/verification" method="post">
								
								
									
									<div class="form-group">
										<label> Please Enter Mobile Number</label>
										<input type="number" name="number" class="form-control">
									</div>
									
									<div class="login_flex">
										
										<div class="login_flex_2">
											<div class="form-group mb-0">
												<button type="submit" class="btn btn-md btn-theme">Login</button>
											</div>
										</div>
									</div>
								
								</form>
							</div>
						</div>
						
					
						
					</div>
				</div>
			</section>
			<!-- =========================== Login/Signup =================================== -->

			<!-- ============================ Call To Action ================================== --> 
		
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
            <%- include ('./indexfooter.ejs') %>
	