<%- include ('./indexheader.ejs') %>

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
		
			
			
			<!-- =========================== Error Page =================================== -->
			<section class="gray">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-12 col-md-12 text-center">
							<h2 class="error_title">4<span class="text-primary">0</span>4<i class="ti-help"></i></h2>
							<p><span class="text-primary">Woops!</span> We're sorry, but the page you were looking for doesn't exist</p>
							<a href="/" class="btn btn-primary">Go To Home Page</a>
						</div>
						
					</div>
				</div>
			</section>
			<!-- =========================== Error Page =================================== -->

			
	
			
			<!-- ============================ Footer Start ================================== -->
      <%- include ('./indexfooter.ejs') %>
	