<%- include ('./otherheader.ejs') %>

      
        
<aside id="notifications">
  <div class="container">
    
    
    
      </div>
</aside>
      
      <section id="wrapper">
       
        <nav data-depth="3" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="index.html">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="12-dresses.html">
                <span itemprop="name">Dresses</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="17-%c3%bczvi.html">
                <span itemprop="name">Üzvi</span>
              </a>
              <meta itemprop="position" content="3">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container   ">
                
          <div class="row">
            
              <div id="left-column" class="sidebar  col-xs-12 col-sm-12 col-md-4 col-lg-3">
                                  
                              </div>
            

            
  <div id="content-wrapper" class="left-column col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
    
    
  <section id="main">

    
  <div id="js-product-list-header">

    <div class="block-category-section card card-block">
            <h4 class="title_block">Üzvi</h4>
                            <div id="category-description" class="text-center"><p>Üzvi is nature’s gift in the form of natural fabrics woven into masterpieces by skilled craftsmen. </p>
<p></p>
<p>Üzvi is inspired by our love for natural fabrics. Subsequently, these fine pieces of natural fabrics have always been our first choice whenever we think of creating a new line, be it Indian or Western. </p></div>
                        
    </div>
  </div>
  

    <section id="products">
      
        <div id="">
          
            
<div id="js-product-list-top" class="products-selection">
  <div class="row">
    <div class="col-lg-6 col-md-3 hidden-sm-down total-products">     
      
        <div class="display">
          <div id="grid" class="leo_grid selected"><a rel="nofollow" href="#" title="Grid"><i class="fa fa-th" aria-hidden="true"></i></a></div>
          <div id="list" class="leo_list "><a rel="nofollow" href="#" title="List"><i class="fa fa-list-ul" aria-hidden="true"></i></a></div>
        </div>
      
              <p class="products-counter hidden-md-down">There are 13 products.</p>
          </div>
    <div class="col-lg-6 col-md-9">
      <div class="row sort-by-row">
        
          <span class="col-sm-4 col-md-4 col-lg-4 hidden-md-down sort-by">Sort by:</span>
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-8 products-sort-order dropdown">
  <button
    class="btn-unstyle select-title"
    rel="nofollow"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    Relevance    <i class="material-icons float-xs-right">&#xE5C5;</i>
  </button>
  <div class="dropdown-menu">
          <a
        rel="nofollow"
        href="17-%c3%bczvie563.html?order=product.sales.desc"
        class="select-list js-search-link"
      >
        Best sellers
      </a>
          <a
        rel="nofollow"
        href="17-%c3%bczvif917.html?order=product.position.asc"
        class="select-list current js-search-link"
      >
        Relevance
      </a>
          <a
        rel="nofollow"
        href="17-%c3%bczvife2d.html?order=product.name.asc"
        class="select-list js-search-link"
      >
        Name, A to Z
      </a>
          <a
        rel="nofollow"
        href="17-%c3%bczvi0279.html?order=product.name.desc"
        class="select-list js-search-link"
      >
        Name, Z to A
      </a>
          <a
        rel="nofollow"
        href="17-%c3%bczvi8eb3.html?order=product.price.asc"
        class="select-list js-search-link"
      >
        Price, low to high
      </a>
          <a
        rel="nofollow"
        href="17-%c3%bczvi04e6.html?order=product.price.desc"
        class="select-list js-search-link"
      >
        Price, high to low
      </a>
      </div>
</div>
        

              </div>
    </div>
    <div class="col-sm-12 hidden-lg-up text-xs-center showing">
      Showing 1-13 of 13 item(s)
    </div>
  </div>
</div>
          
        </div>

        
          <div id="" class="hidden-sm-down">
            <section id="js-active-search-filters" class="hide">
  
    <p class="h6 hidden-xs-up">Active filters</p>
  

  </section>

          </div>
        

        <div id="">
          
            <div id="js-product-list">
  <div class="products">  
        

    
                    


<!-- Products list -->


<div  class="product-list- product_list grid  product-default ">
    <div class="row">
                    
            
            <% for(i=0;i<9;i++){ %>
                                       
            <div class="ajax_block_product col-sp-12 col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                
                                                                                                <article class="product-miniature js-product-miniature" data-id-product="85" data-id-product-attribute="210" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="/product?id=39" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/494-large_default/lp001.jpg"
				alt = "LP001"
				data-full-size-image-url = "https://leffet.in/494-large_default/lp001.jpg"
			> 
							<span class="product-additional" data-idproduct="85"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="85" data-id-product-attribute="210" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_85" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_85" name="minimal_quantity">
		<input type="hidden" value="210" class="id_product_attribute id_product_attribute_85" name="id_product_attribute">
		<input type="hidden" value="85" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_85" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_85" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="all-collections/85-210-lp001.html#/1-size-s">LP001</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="4000">₹4,000</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Each fabric is designed to embrace the finesse of traditional block printing.  Our signature logo, which is a contemporary version of Indian...</div>
</div>
  </div>
</article>





                                                            
            </div>


			<% } %>

			
             
            
            
                                       
         
            </div>
</div>
<script>
if (window.jQuery) {
    $(document).ready(function(){
        if (prestashop.page.page_name == 'category'){
            setDefaultListGrid();
        }
    });
}
</script>   
  </div>
 	  <div class="hidden-xs-up text-xs-right up">
    <a href="#header" class="btn btn-secondary">
      Back to top
      <i class="material-icons">&#xE316;</i>
    </a>
  </div>
</div>

<div id="scroll-loader-div"  class="scroll-loader-dev hidden-xs-up loadingio-spinner-ripple-dkplnf6ci3l"><div class="ldio-94kxqeup8bb">
<div></div><div></div>
</div></div>


<script>
  var scrollCountLinks ={"1":{"type":"page","page":1,"clickable":false,"current":true,"url":"https:\/\/leffet.in\/17-%c3%bczvi"}};
               

</script>

	<script type="text/javascript">
      jQuery(document).ready(function($) {
          $('#loader-common-dev').remove();
          var count = 1;
          var limit = 1;
          $(window).scroll(function(e){
             e.preventDefault();
            if(count < limit){
                $('footer').hide();

            }
        //  if  ($(window).scrollTop() == $(document).height() - $(window).height()){
            if  ($(document).height() >= $(window).scrollTop() + $(window).height()){


                  if(parseInt(limit)>parseInt(count)){
                      count +=1;

                    if ($(".product-list-"+count).length == 0) {
                        var redirectedUrl  = scrollCountLinks[count].url;
                       // loadedPages.push(count);
                        loadArticle(redirectedUrl);
                      }                       
                      
                  }
            }

       
        }); 
       
      function loadArticle(redirectedUrl){
        loaderScroll(true);
        $.ajax({
          url: redirectedUrl,
          type:'POST',
          dataType: 'json',
          async :false,
          success: function(data){
            scrollCountLinks = data.pagination.pages;
            setTimeout(function() {
				if ($(".product-list-"+data.pagination.current_page).length == 0) {
              		$("#js-product-list").append(data.rendered_products);    // This will be the div where our content will be loaded

                                    }
                            $('.footer-container').show();

                            loaderScroll(false);


            }, 3000);
          }
          });
        return false;
      }


      });
      var loaderScroll = (function(decision){
        if(decision){
          $('#scroll-loader-div').removeClass('hidden-xs-up');
        }else{
          $('#scroll-loader-div').addClass('hidden-xs-up');
        }
        
      });
 
  </script>
          
        </div>

        <div id="js-product-list-bottom">
          
            <div id="js-product-list-bottom"></div>
          
        </div>

          </section>

  </section>

    
  </div>


            
          </div>
                  </div>
              	
      </section>

<%- include ('./indexfooter.ejs') %> 
    