<%- include ('./otherheader.ejs') %>

      
        
<aside id="notifications">
  <div class="container">
    
    
    
      </div>
</aside>
      
      <section id="wrapper">
       
        <nav data-depth="2" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="/leffet.in/index.html">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="85-210-lp001.html#/size-s">
                <span itemprop="name">LP001</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container  ">
                
          <div class="row">
            

            
  <div id="content-wrapper" class="col-lg-12 col-xs-12">
    
      
<div class="spinner-bg">
<div class="spinner-lazy">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
 </div>
        
<section id="main" class="product-detail product-thumbs-bottom product-image-thumbs product-thumbs-bottom" itemscope itemtype="https://schema.org/Product">
  <meta itemprop="url" content="https://leffet.in/all-collections/85-210-lp001.html#/1-size-s"><div class="row"><div class="col-form_id-form_9367402777406408 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 col-sp-12">


  <section class="page-content" id="content" data-templateview="bottom" data-numberimage="5" data-numberimage1200="5" data-numberimage992="4" data-numberimage768="3" data-numberimage576="3" data-numberimage480="2" data-numberimage360="2" data-templatemodal="1" data-templatethumb="1" data-templatezoomtype="out" data-zoomposition="right" data-zoomwindowwidth="400" data-zoomwindowheight="400">
    
      <div class="images-container">
        
                  
            <div class="product-cover">
              
                <ul class="product-flags">
                                  </ul>
              
                              <img id="zoom_product" data-type-zoom="" class="js-qv-product-cover img-fluid" src="/leffet.in/494-large_default/lp001.jpg" alt="" title="" itemprop="image">
                <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                  <i class="material-icons zoom-in">&#xE8FF;</i>
                </div>
                          </div>
          

          
            <div id="thumb-gallery" class="product-thumb-images">
                                                <div class="thumb-container  active ">
                    <a href="javascript:void(0)" data-image="https://leffet.in/494-large_default/lp001.jpg" data-zoom-image="/leffet.in/494-large_default/lp001.jpg"> 
                      <img
                        class="thumb js-thumb  selected "
                        data-image-medium-src="/leffet.in/494-medium_default/lp001.jpg"
                        data-image-large-src="/leffet.in/494-large_default/lp001.jpg"
                        src="/leffet.in/494-home_default/lp001.jpg"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                  <div class="thumb-container ">
                    <a href="javascript:void(0)" data-image="https://leffet.in/495-large_default/lp001.jpg" data-zoom-image="/leffet.in/495-large_default/lp001.jpg"> 
                      <img
                        class="thumb js-thumb "
                        data-image-medium-src="/leffet.in/495-medium_default/lp001.jpg"
                        data-image-large-src="/leffet.in/495-large_default/lp001.jpg"
                        src="/leffet.in/495-home_default/lp001.jpg"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                  <div class="thumb-container ">
                    <a href="javascript:void(0)" data-image="https://leffet.in/496-large_default/lp001.jpg" data-zoom-image="/leffet.in/496-large_default/lp001.jpg"> 
                      <img
                        class="thumb js-thumb "
                        data-image-medium-src="/leffet.in/496-medium_default/lp001.jpg"
                        data-image-large-src="/leffet.in/496-large_default/lp001.jpg"
                        src="/leffet.in/496-home_default/lp001.jpg"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                  <div class="thumb-container ">
                    <a href="javascript:void(0)" data-image="https://leffet.in/497-large_default/lp001.jpg" data-zoom-image="/leffet.in/497-large_default/lp001.jpg"> 
                      <img
                        class="thumb js-thumb "
                        data-image-medium-src="/leffet.in/497-medium_default/lp001.jpg"
                        data-image-large-src="/leffet.in/497-large_default/lp001.jpg"
                        src="/leffet.in/497-home_default/lp001.jpg"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                          </div>
            
                          <div class="arrows-product-fake slick-arrows">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" >Previous</button>
                <button class="slick-next slick-arrow" aria-label="Next" type="button">Next</button>
              </div>
                      
                
        
      </div>
    
  </section>



  <div class="modal fade js-product-images-modal leo-product-modal" id="product-modal" data-thumbnails=".product-images-85">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
                <figure>
          <img class="js-modal-product-cover product-cover-modal" width="2400" src="/leffet.in/494-large_default/lp001.jpg" alt="" title="" itemprop="image">
          <figcaption class="image-caption">
            
              <div id="product-description-short" itemprop="description"><p>Each fabric is designed to embrace the finesse of traditional block printing. <br />Our signature logo, which is a contemporary version of Indian paisley. Hand block printed on textured organic cotton fabric in an extremely smart shirt dress silhouette.</p></div>
            
          </figcaption>
        </figure>
        <aside id="thumbnails" class="thumbnails text-sm-center">
          
            <div class="product-images product-images-85">
                              <div class="thumb-container">
                  <img data-image-large-src="https://leffet.in/494-large_default/lp001.jpg" class="thumb img-fluid js-modal-thumb selected " src="/leffet.in/494-medium_default/lp001.jpg" alt="" title="" width="239" itemprop="image">
                </div>
                              <div class="thumb-container">
                  <img data-image-large-src="https://leffet.in/495-large_default/lp001.jpg" class="thumb img-fluid js-modal-thumb" src="/leffet.in/495-medium_default/lp001.jpg" alt="" title="" width="239" itemprop="image">
                </div>
                              <div class="thumb-container">
                  <img data-image-large-src="https://leffet.in/496-large_default/lp001.jpg" class="thumb img-fluid js-modal-thumb" src="/leffet.in/496-medium_default/lp001.jpg" alt="" title="" width="239" itemprop="image">
                </div>
                              <div class="thumb-container">
                  <img data-image-large-src="https://leffet.in/497-large_default/lp001.jpg" class="thumb img-fluid js-modal-thumb" src="/leffet.in/497-medium_default/lp001.jpg" alt="" title="" width="239" itemprop="image">
                </div>
                          </div>
            
        </aside>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Measurement form modal -->
<div id="measurement-modal" style="display:none;" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="add-measurement">
                    <section class="form-fields">
                    <div class="form-group">
                                                <input class="measurement-params" type="hidden" name="id_category" value="2">
                    </div>
                    <div id="modal-measurement-details">
                        <!-- Form render here  -->
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
                            </div><div class="col-form_id-form_15874367062488778 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 col-sp-12">

	
		<h1 class="h1 product-detail-name" itemprop="name">LP001</h1>
	


	<div class="product-additional-info"> 
  
      <div class="social-sharing">
      <span class="share-this hidden-xs-up"><i class="fa fa-share-alt"></i>Share this:</span>
      <ul>
                  <li class="facebook icon-gray">
            <a href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fleffet.in%2Fall-collections%2F85-lp001.html" class="text-hide" title="Share" target="_blank">
            <span>Share</span>
            <i class="facebook icon-gray"></i>
            </a>
          </li>
                  <li class="twitter icon-gray">
            <a href="https://twitter.com/intent/tweet?text=LP001%20https%3A%2F%2Fleffet.in%2Fall-collections%2F85-lp001.html" class="text-hide" title="Tweet" target="_blank">
            <span>Tweet</span>
            <i class="twitter icon-gray"></i>
            </a>
          </li>
                  <li class="pinterest icon-gray">
            <a href="https://www.pinterest.com/pin/create/button/?media=https%3A%2F%2Fleffet.in%2F494%2Flp001.jpg&amp;url=https%3A%2F%2Fleffet.in%2Fall-collections%2F85-lp001.html" class="text-hide" title="Pinterest" target="_blank">
            <span>Pinterest</span>
            <i class="pinterest icon-gray"></i>
            </a>
          </li>
              </ul>
    </div>
  

   
      
            <div class="modal fade" id="my-size-chart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="text-align:left;">
            <div class="modal-header">
                <button type="button" class="close" id="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>Size Chart</h1>
            </div>
            <div id="size-chart-modal-body" class="modal-body">
                <div id="size-chart-view">
    <div class="row">
                            <div class="col-sm-4 col-md-6  col-lg-12">
                <div class="wk-row-padding wk-border wk-font-size wk-scroll-vertical view-chart-title">
                    <p>All measurements are in inches</p>
                </div>
            </div>
            </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="wk-border wk-scroll-horizontal">
                <table class="table table-striped wk-table-margin">
                    <tbody>
                                                    <tr class="table-active">
                                <td class="wk-table-row-border"></td>
                                                                    <th class="wk-table-row-border wk-table-text-align">Chest</th>
                                                                    <th class="wk-table-row-border wk-table-text-align">Waist</th>
                                                                    <th class="wk-table-row-border wk-table-text-align">Hip</th>
                                                                    <th class="wk-table-row-border wk-table-text-align">Shoulder</th>
                                                            </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">S</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">36</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">32</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">32</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">14</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">M</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">38</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">34</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">34</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">14.5</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">L</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">40</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">36</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">36</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">15</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">XL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">42</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">38</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">38</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">15.5</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">XXL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">44</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">40</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">40</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">16</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">XXXL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">6</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">42</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">42</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">16.5</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">4XL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">48</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">44</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">44</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">17</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">5XL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">50</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">46</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">46</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">17.5</td>
                                                                    </tr>
                                                                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>

   <script type="text/javascript" src="jquery.html"></script>
   <script type="text/javascript">


 $( document ).ready(function() {
        $('#close').on('click', function(){
        $('#my-size-chart-modal').modal('hide');
        $( '.modal-backdrop' ).remove();
        });

    });


   </script>
        <br>

</div>


  
  <div id="product-description-short-85" class="description-short" itemprop="description"><p>Each fabric is designed to embrace the finesse of traditional block printing. <br />Our signature logo, which is a contemporary version of Indian paisley. Hand block printed on textured organic cotton fabric in an extremely smart shirt dress silhouette.</p></div>
  
  



	  <div class="product-prices">
    
      <div
        class="product-price h5 "
        itemprop="offers"
        itemscope
        itemtype="https://schema.org/Offer"
      >
        <link itemprop="availability" href="https://schema.org/InStock"/>
        <meta itemprop="priceCurrency" content="INR">

        <div class="current-price">
          
          <span itemprop="price" id="custom_product_price" content="4000">₹4,000</span>

                  </div>

        
                  
      </div>
    
    
          
    
          

    
          

    
          

    

    <div class="tax-shipping-delivery-label">
              Tax included
            
      
                        </div>
  </div>



<div class="product-actions">
  
    <form action="https://leffet.in/cart" method="post" id="add-to-cart-or-refresh">
      <input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
      <input type="hidden" name="id_product" value="85" id="product_page_product_id">
      <input type="hidden" name="id_customization" value="0" id="product_customization_id">

      
        <div class="product-variants">
  
   
        <div class="clearfix product-variants-item">
      <span class="control-label">Size</span>
      
        <ul id="group_1">
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1" name="group[1]" value="1" checked="checked"  data-measurement-name="S">
                <span class="radio-label">S</span>
              </label>
              
            
      
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1" name="group[1]" value="2">
                <span class="radio-label">M</span>
              </label>
              
            
      
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1" name="group[1]" value="3">
                <span class="radio-label">L</span>
              </label>
              
            
      
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1" name="group[1]" value="4">
                <span class="radio-label">XL</span>
              </label>
              
            
      
                  </ul>
             <br>
	<div class="blockreassurance_product">

       <div > 
     <p class="block-title" style="color:;">FOR CUSTOMISATION  </p><br/><p class="pd-callwatsapp"> <i class="fa fa-whatsapp"  
     style="font-family: 'FontAwesome'; font-weight: normal;"></i>
&nbsp;&nbsp;Call or WhatsApp&nbsp;&nbsp;

      <a href="https://wa.me/919167860709" target="_blank" rel="noopener" class="watsp-number">9167860709</a></p>

    </div>
      </div>
            
       <a href="#" data-toggle="modal" data-target="#my-size-chart-modal" id='size-chart-button'>
              View Size Chart 
                                      </a>
    
   <br>
    <br> 
          </div>
        
</div>
 
        

      
              

      
        <section class="product-discounts">
  </section>
      

      
        <div class="product-add-to-cart">
  <input
  type="hidden"
  name="customer_measurement"
  id="custom_measurement"
  value=""
  >
  <input
  type="hidden"
  name="custom_attribute"
  id="custom_attribute"
  value=""
  >
      <span class="control-label">Quantity</span>

    
      <div class="product-quantity clearfix">
        <div class="qty clearfix">
          <input
            type="text"
            name="qty"
            id="quantity_wanted"
            value="1"
            class="input-group"
            min="1"
            aria-label="Quantity"
          >
        </div>
        <div class="add">
          <button class="btn btn-primary add-to-cart" data-button-action="add-to-cart" type="submit" >
            <span class="icon-btn-product"><i class="icomoon icon-cart"></i></span><span>Add to cart</span>
          </button>
          <div class="leo-compare-wishlist-button">
            <div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="85" data-id-product-attribute="210" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


                        
          </div> 
          
        </div>
        
      </div>
      <div class="clearfix"></div>
    
   
    
      <p class="product-minimal-quantity">
              </p>
    
  </div>
      
		<div class="">
         <a href="#" class="block-title product-detail-info detail-btn">Product Details <i class="fa fa-chevron-down"></i></a>
          <div id="product-detail-content" style="display:none;">
                        
          

  
          <div class="product-quantities product-in">
        <label class="label">In stock</label>
        <span data-stock="10" data-allow-oosp="0">10 Items</span>
      </div>
      

  
      

  
    <div class="product-out-of-stock">
      
    </div>
  
            <div class="product-description"><ul><li>Product Code: LP001</li>
<li>Dress Length: Front 43”, Back 48”</li>
<li>Sleeve Length: 17”</li>
<li>Fabric: Textured 100% Cotton</li>
<li>Straight collar with front open placket shirt dress</li>
<li>Yoke piping and box pleat at back</li>
<li>Hand block printed bodice</li>
<li>Wash care: Dry clean only</li>
<li>Model is 5.7”, She is wearing size ‘M’</li>
</ul></div>
  
      
            
      

  
      
                      </div>
      </div>
      
        <input class="product-refresh ps-hidden-by-js" name="refresh" type="submit" value="Refresh">
      
    </form>
  
</div>

  <div class="blockreassurance_product">
               <div>
            <span class="item-product">
                                                        <img src="/leffet.in/modules/blockreassurance/views/img/img_perso/freedom.png">
                                    &nbsp;
            </span>
                          <p class="block-title" style="color:#000000;">OPEN TO CUSTOMISATION*</p>
             
                    </div>
            <div>
            <span class="item-product">
                                                        <img src="/leffet.in/modules/blockreassurance/views/img/img_perso/timeless-classic-icon.png">
                                    &nbsp;
            </span>
                          <p class="block-title" style="color:#000000;">TIMELESS CLASSICS*</p>
             
                    </div>
            <div>
            <span class="item-product">
                                                        <img src="/leffet.in/modules/blockreassurance/views/img/img_perso/craftedfor-class-icon.png">
                                    &nbsp;
            </span>
                          <p class="block-title" style="color:#000000;">CRAFTED FOR CLASS*</p>
             
                    </div>
        <div class="clearfix"></div>
</div>

<div class="bootstrap">
	</div>

                            </div><div class="col-form_id-form_4666379129988496 col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 col-sp-12">

	<div class="product-tabs tabs">
	  	<ul class="nav nav-tabs" role="tablist">
		    		    		    			   		    		    				<li class="nav-item">
	  <a class="nav-link leo-product-show-review-title " data-toggle="tab" href="#leo-product-show-review-content">Reviews</a>
	</li>


	  	</ul>

	  	<div class="tab-content" id="tab-content">
		   
		   	
		     	   		   	

		   	
		     			   	
		   		<div class="tab-pane fade   in active" id="leo-product-show-review-content">	

		<div id="product_reviews_block_tab">
												<p class="align_center">No customer reviews for the moment.</p>
									</div> 
	</div>	

		   			</div>
	</div>
   <hr/>
  <div class="col-md-12">
    <div class="col-md-4 mb-1">
      <img src="/leffet.in/img/eco.png" class="mr-1" alt="ECO FRIENDLY*" />
      ECO FRIENDLY*
    </div>
    <div class="col-md-4 mb-1">
      <img src="/leffet.in/img/hand-made.png" class="mr-1" alt="HAND MADE*" />
      HAND MADE*
    </div>
    <div class="col-md-4 mb-1">
      <img src="/leffet.in/img/made-in-india.png" class="mr-1" alt="MADE IN INDIA*" />
      MADE IN INDIA*
    </div>
  </div>

              <section class="product-accessories clearfix">
          <h3 class="h5 products-section-title">You might also like</h3>

          <div class="products"> 
            <div class="owl-row  product-default">
              <div id="category-products2">
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="87" data-id-product-attribute="250" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="87-250-lp002.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/499-large_default/lp002.jpg"
				alt = "LP002"
				data-full-size-image-url = "/leffet.in/499-large_default/lp002.jpg"
			> 
							<span class="product-additional" data-idproduct="87"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="87" data-id-product-attribute="250" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_87" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_87" name="minimal_quantity">
		<input type="hidden" value="250" class="id_product_attribute id_product_attribute_87" name="id_product_attribute">
		<input type="hidden" value="87" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_87" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_87" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="87-250-lp002.html#/1-size-s">LP002</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="4000">₹4,000</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> An outfit that's designed by the craftsmen who keep the dying art of block printing, alive.  Botanical leaf motif hand block printed on textured...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="88" data-id-product-attribute="294" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="88-294-lp003.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/502-large_default/lp003.jpg"
				alt = "LP003"
				data-full-size-image-url = "/leffet.in/502-large_default/lp003.jpg"
			> 
							<span class="product-additional" data-idproduct="88"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="88" data-id-product-attribute="294" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="2" class="quantity_product quantity_product_88" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_88" name="minimal_quantity">
		<input type="hidden" value="294" class="id_product_attribute id_product_attribute_88" name="id_product_attribute">
		<input type="hidden" value="88" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_88" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_88" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="88-294-lp003.html#/1-size-s">LP003</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="3500">₹3,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Embracing the beauty of chic silhouettes. A Contemporary print in an off-beat colour pallet, printed on a textured cotton slub, converted into a...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="89" data-id-product-attribute="338" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="89-338-lp004.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/506-large_default/lp004.jpg"
				alt = "LP004"
				data-full-size-image-url = "/leffet.in/506-large_default/lp004.jpg"
			> 
							<span class="product-additional" data-idproduct="89"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="89" data-id-product-attribute="338" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="6" class="quantity_product quantity_product_89" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_89" name="minimal_quantity">
		<input type="hidden" value="338" class="id_product_attribute id_product_attribute_89" name="id_product_attribute">
		<input type="hidden" value="89" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_89" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_89" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="89-338-lp004.html#/1-size-s">LP004</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="3500">₹3,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Grooved silhouettes. Infused embroidery. A Contemporary print in an off-beat colour pallet, printed on a textured cotton slub, made into a trendy...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="91" data-id-product-attribute="358" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="91-358-lp006.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/515-large_default/lp006.jpg"
				alt = "LP006"
				data-full-size-image-url = "/leffet.in/515-large_default/lp006.jpg"
			> 
							<span class="product-additional" data-idproduct="91"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="91" data-id-product-attribute="358" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="9" class="quantity_product quantity_product_91" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_91" name="minimal_quantity">
		<input type="hidden" value="358" class="id_product_attribute id_product_attribute_91" name="id_product_attribute">
		<input type="hidden" value="91" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_91" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_91" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="91-358-lp006.html#/1-size-s">LP006</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="4500">₹4,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Transforming natural fabrics into kalamkari masterpieces.  Pure &amp; Authentic Kalamkari print, using vegetable dyes on fluid modal fabric just...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="92" data-id-product-attribute="362" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="92-362-lp007.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/518-large_default/lp007.jpg"
				alt = "LP007"
				data-full-size-image-url = "/leffet.in/518-large_default/lp007.jpg"
			> 
							<span class="product-additional" data-idproduct="92"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="92" data-id-product-attribute="362" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="8" class="quantity_product quantity_product_92" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_92" name="minimal_quantity">
		<input type="hidden" value="362" class="id_product_attribute id_product_attribute_92" name="id_product_attribute">
		<input type="hidden" value="92" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_92" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_92" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="92-362-lp007.html#/1-size-s">LP007</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="5500">₹5,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Embracing the kalakari of kalamkari. Pure &amp; Authentic Kalamkari print, using vegetable dyes on fluid modal fabric just does justice to this...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="96" data-id-product-attribute="254" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="96-254-lp0020.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/525-large_default/lp0020.jpg"
				alt = "LP0020"
				data-full-size-image-url = "/leffet.in/525-large_default/lp0020.jpg"
			> 
							<span class="product-additional" data-idproduct="96"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="96" data-id-product-attribute="254" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="8" class="quantity_product quantity_product_96" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_96" name="minimal_quantity">
		<input type="hidden" value="254" class="id_product_attribute id_product_attribute_96" name="id_product_attribute">
		<input type="hidden" value="96" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_96" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_96" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="96-254-lp0020.html#/1-size-s">LP0020</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="7500">₹7,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Blend-in elegance.  This multi-tiered dress is made by mixing and matching three different prints on a soft velvet like mul fabric. These...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="97" data-id-product-attribute="258" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="97-258-lp0021.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/530-large_default/lp0021.jpg"
				alt = "LP0021"
				data-full-size-image-url = "/leffet.in/530-large_default/lp0021.jpg"
			> 
							<span class="product-additional" data-idproduct="97"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="97" data-id-product-attribute="258" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_97" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_97" name="minimal_quantity">
		<input type="hidden" value="258" class="id_product_attribute id_product_attribute_97" name="id_product_attribute">
		<input type="hidden" value="97" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_97" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_97" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="97-258-lp0021.html#/1-size-s">LP0021</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="5500">₹5,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Detailed artistry, delivered. This easy breezy below knee length dress is made by amalgamation of three customized prints. It is a modern day wear...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="98" data-id-product-attribute="266" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="98-266-lp0023.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/534-large_default/lp0023.jpg"
				alt = "LP0023"
				data-full-size-image-url = "/leffet.in/534-large_default/lp0023.jpg"
			> 
							<span class="product-additional" data-idproduct="98"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="98" data-id-product-attribute="266" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_98" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_98" name="minimal_quantity">
		<input type="hidden" value="266" class="id_product_attribute id_product_attribute_98" name="id_product_attribute">
		<input type="hidden" value="98" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_98" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_98" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="98-266-lp0023.html#/1-size-s">LP0023</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="5000">₹5,000</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Subtly graceful  This calf length beautiful dress is made with hand woven cotton. It gathers after the short yoke and embroidered placket with a...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="99" data-id-product-attribute="302" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="99-302-lp0031.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/538-large_default/lp0031.jpg"
				alt = "LP0031"
				data-full-size-image-url = "/leffet.in/538-large_default/lp0031.jpg"
			> 
							<span class="product-additional" data-idproduct="99"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="99" data-id-product-attribute="302" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_99" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_99" name="minimal_quantity">
		<input type="hidden" value="302" class="id_product_attribute id_product_attribute_99" name="id_product_attribute">
		<input type="hidden" value="99" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_99" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_99" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="99-302-lp0031.html#/1-size-s">LP0031</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="6500">₹6,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Block Printing X Classy Embroidery. This below the knee length sleeveless dress with tonal block printing on the hem and floral motifs on the yoke...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="101" data-id-product-attribute="306" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="101-306-lp0032.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/859-large_default/lp0032.jpg"
				alt = "LP0032"
				data-full-size-image-url = "/leffet.in/859-large_default/lp0032.jpg"
			> 
							<span class="product-additional" data-idproduct="101"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="101" data-id-product-attribute="306" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_101" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_101" name="minimal_quantity">
		<input type="hidden" value="306" class="id_product_attribute id_product_attribute_101" name="id_product_attribute">
		<input type="hidden" value="101" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_101" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_101" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="101-306-lp0032.html#/1-size-s">LP0032</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="6500">₹6,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Epitomizing the art of versatility. High neck dress with Kalamkari inspired block printing on yoke with concealed belt and pretty tassels is made...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="102" data-id-product-attribute="342" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="102-342-lp0040.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/545-large_default/lp0040.jpg"
				alt = "LP0040"
				data-full-size-image-url = "/leffet.in/545-large_default/lp0040.jpg"
			> 
							<span class="product-additional" data-idproduct="102"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="102" data-id-product-attribute="342" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_102" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_102" name="minimal_quantity">
		<input type="hidden" value="342" class="id_product_attribute id_product_attribute_102" name="id_product_attribute">
		<input type="hidden" value="102" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_102" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_102" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="102-342-lp0040.html#/1-size-s">LP0040</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="8500">₹8,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Slay your class, subtly. A fine high-low patterned midi dress with graceful setting of block printing on the hem, back, lapel and sleeves. It’s...</div>
</div>
  </div>
</article>

                                          
                  </div>
                                  <div class="item first">
                    
                                              
                        <article class="product-miniature js-product-miniature" data-id-product="114" data-id-product-attribute="354" itemscope itemtype="http://schema.org/Product">
  <div class="thumbnail-container">
    <div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

				<a href="114-354-lp005.html#/1-size-s" class="thumbnail product-thumbnail">
			<img
				class="img-fluid"
				src = "/leffet.in/513-large_default/lp005.jpg"
				alt = "LP005"
				data-full-size-image-url = "/leffet.in/513-large_default/lp005.jpg"
			> 
							<span class="product-additional" data-idproduct="114"></span>
					</a>
	


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
  </ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
	<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="114" data-id-product-attribute="354" title="Add to Wishlist">
		<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
		<span class="leo-wishlist-bt-content">
			<i class="icomoon icon-wishlist"></i>
			<span class="btn-title">Add to wishlist</span>
		</span>
	</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
  href="#"
  class="quick-view btn-product btn"
  data-link-action="quickview"
>
	<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
	<span class="leo-quickview-bt-content">
		<i class="icomoon icon-preview"></i>
		<span class="btn-title">Quick view</span>
	</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
	<form action="https://leffet.in/cart" method="post">
		<input type="hidden" name="token" value="b68a7b36e8930a00073a73a5e6feb04a">
		<input type="hidden" value="10" class="quantity_product quantity_product_114" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_114" name="minimal_quantity">
		<input type="hidden" value="354" class="id_product_attribute id_product_attribute_114" name="id_product_attribute">
		<input type="hidden" value="114" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_114" name="qty" value="1" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_114" data-button-action="add-to-cart" type="submit">
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
	</form>
</div>


</div></div>
    <div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

  <h3 class="h3 product-title" itemprop="name"><a href="114-354-lp005.html#/1-size-s">LP005</a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->
        
              <div class="product-price-and-shipping ">
              

              

              <span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="4500">₹4,500</span>
              </span>
                            

              
            </div>
                  


  <div class="product-description-short" itemprop="description"> Poetry in motion.  Pure &amp; Authentic Kalamkari print, using vegetable dyes on fluid modal fabric just does justice to this chic dress with...</div>
</div>
  </div>
</article>

                                          
                  </div>
                              </div>
            </div>
          </div>
        </section>
       
    

    <script type="text/javascript">
      products_list_functions.push(
        function(){
          $('#category-products2').owlCarousel({
                          direction:'ltr',
                        items : 4,
            itemsCustom : false,
            itemsDesktop : [1200, 4],
            itemsDesktopSmall : [992, 3],
            itemsTablet : [768, 2],
            itemsTabletSmall : false,
            itemsMobile : [480, 1],
            singleItem : false,         // true : show only 1 item
            itemsScaleUp : false,
            slideSpeed : 200,  //  change speed when drag and drop a item
            paginationSpeed :800, // change speed when go next page

            autoPlay : false,   // time to show each item
            stopOnHover : false,
            navigation : true,
            navigationText : ["&lsaquo;", "&rsaquo;"],

            scrollPerPage :true,
            responsive :true,
            
            pagination : false,
            paginationNumbers : false,
            
            addClassActive : true,
            
            mouseDrag : true,
            touchDrag : true,

          });
        }
      ); 
      $(document).on('click','.product-detail-info',function(e){
        e.preventDefault();
        $('#product-detail-content').toggle();
      });
    </script>

	    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var MBG = GoogleAnalyticEnhancedECommerce;
            MBG.setCurrency('INR');
            MBG.addProductDetailView({"id":"85-210","name":"lp001","category":"all-collections","brand":"","variant":false,"type":"typical","position":"0","quantity":1,"list":"product","url":"https%3A%2F%2Fleffet.in%2Fall-collections%2F85-lp001.html","price":"\u20b94,000"});MBG.addProductClickByHttpReferal({"id":"85-210","name":"lp001","category":"all-collections","brand":"","variant":false,"type":"typical","position":"0","quantity":1,"list":"product","url":"https%3A%2F%2Fleffet.in%2Fall-collections%2F85-lp001.html","price":"\u20b94,000"});
        });
    </script>
    



                            </div></div>

	  <footer class="page-footer">
	    
	    	<!-- Footer content -->
	    
	  </footer>
	
</section>


  
    
  </div>


            
          </div>
                  </div>
              	
      </section>

<%- include ('./indexfooter.ejs') %> 
     