<%- include ('./otherheader.ejs') %>
      
        
<aside id="notifications">
  <div class="container">
    
    
    
      </div>
</aside>
      
      <section id="wrapper">
       
        <nav data-depth="2" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="/leffet.in/index.html">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="4-about-us.html">
                <span itemprop="name">About Us</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container  ">
                
          <div class="row">
            

            
  <div id="content-wrapper" class="col-lg-12 col-xs-12">
    
    

  <section id="main">

      
    
      
        <header class="page-header">
          <h1>
  About Us
</h1>
        </header>
      
    

    
  <section id="content" class="page-content page-cms page-cms-4">

    
      <div class="offset-md-3 col-md-6"><video width="300" height="150" class="video" controls="" loop autoplay muted=""><source src="/leffet.in/themes/leo_qos/assets/img/modules/appagebuilder/video/leffet_about.mp4" type="video/mp4"></source><source src="/leffet.in/themes/leo_qos/assets/img/modules/appagebuilder/video/leffet_about.html" type="video/ogg"></source></video></div>
<div class="offset-md-2 col-md-8 mt-3">
<p>L’effet personifies class, tradition, and grandeur of the art we call fashion.</p>
<p>Indian weaves, created in diverse fabrics with detailed embroideries and traditional block prints have defined L'effets’ journey over the past 26 Years. Sanjev Marwaaha’s passion and admiration towards these weaves has been one of the main reasons behind L'effets’ fine masterpieces.</p>
<p>We believe in constantly exploring new avenues of designs while staying true to our roots. And that’s one of the primary reasons as to why we take immense pride in working with ikat, mangalagiri, maheshwaris, pochampally, banarasi and several other hand loom fabrics.</p>
<p>Timeless styling with classic clean silhouettes is the core design philosophy of L’effet.</p>
<p>Our highly skilled artists and craftsmen are adept at creating masterpieces for you with elegance. And we also tailor customized pieces for you based on your preferences.</p>
<p>L’effet is crafted for class. And that’s why it’s crafted for you.</p>
</div>
    

    
      
    

    
      
    

  </section>

  
    
      <footer class="page-footer">
        
          <!-- Footer content -->
        
      </footer>
    

  </section>


    
  </div>


            
          </div>
                  </div>
              	
      </section>
      <%- include ('./indexfooter.ejs') %> 
