<%- include ('./otherheader.ejs') %>
      
        
<aside id="notifications">
  <div class="container">
    
    
    
      </div>
</aside>
      
      <section id="wrapper">
       
        <nav data-depth="2" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="/leffet.in/index.html">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="4-about-us.html">
                <span itemprop="name">About Us</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container  ">
                
          <div class="row">
            

            
  <div id="content-wrapper" class="col-lg-12 col-xs-12">
    
    

  <section id="main">

      
    
      
        <header class="page-header">
          <h1>
  <%=title%>
</h1>
        </header>
      
    

        <% if(msg=='about'){ %>
          <section id="content" class="page-content page-cms page-cms-4">

    
            <div class="offset-md-3 col-md-6"><video width="300" height="150" class="video" controls="" loop autoplay muted=""><source src="/leffet.in/themes/leo_qos/assets/img/modules/appagebuilder/video/leffet_about.mp4" type="video/mp4"></source><source src="/leffet.in/themes/leo_qos/assets/img/modules/appagebuilder/video/leffet_about.html" type="video/ogg"></source></video></div>
      <div class="offset-md-2 col-md-8 mt-3">
      <p>L’effet personifies class, tradition, and grandeur of the art we call fashion.</p>
      <p>Indian weaves, created in diverse fabrics with detailed embroideries and traditional block prints have defined L'effets’ journey over the past 26 Years. Sanjev Marwaaha’s passion and admiration towards these weaves has been one of the main reasons behind L'effets’ fine masterpieces.</p>
      <p>We believe in constantly exploring new avenues of designs while staying true to our roots. And that’s one of the primary reasons as to why we take immense pride in working with ikat, mangalagiri, maheshwaris, pochampally, banarasi and several other hand loom fabrics.</p>
      <p>Timeless styling with classic clean silhouettes is the core design philosophy of L’effet.</p>
      <p>Our highly skilled artists and craftsmen are adept at creating masterpieces for you with elegance. And we also tailor customized pieces for you based on your preferences.</p>
      <p>L’effet is crafted for class. And that’s why it’s crafted for you.</p>
      </div>
          
      
          
            
          
      
          
            
          
      
        </section>
        <% } else { %>

          <section id="content" class="page-content page-cms page-cms-6">

    
            <p>l’effet and its subsidiaries and divisions including leffet.in, respect your privacy. This Privacy Policy outlines the manner your data is collected and used by us. You are advised to please read the Privacy Policy carefully. By accessing the services provided by leffet.in you agree to the collection and use of your data by leffet.in in the manner provided in this Privacy Policy</p>
      <p>When you purchase something from our store, as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.</p>
      <p>When you browse our store, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.</p>
      <p>Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.</p>
      <p></p>
      <p>The Policy does not apply to the procedures and practices followed by entities that are not managed, owned or controlled by leffet.in or to the people that are not engaged, employed or managed by leffet.in</p>
      <p>Through this document, we wish to make you feel at ease while using our website, and not hesitate while sharing important information with us. We like to make you aware that by using our websites you are agreeing to the collection of certain data.</p>
      <h3><strong>Information that may be collected from you</strong></h3>
      <p>When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or return a purchase, we imply that you consent to our collecting it and using it for that specific reason only.</p>
      <p>If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.</p>
      <p></p>
      <p>Kindly, note that leffet.in does not collect your Payment Card details (i.e. credit/debit card number, expiration date, CVV etc.). When you make a purchase using your card, you are automatically redirected to the payment gateway website, where all required transaction details are captured on the secured payment page, and encrypted using Industrial Strength Cipher, and are securely transmitted to your card issuer for obtaining an authorization decision. At no time during the purchase process or thereafter does leffet.in have access to, or store, your complete card account information.</p>
      <p>While you use our website, we may have automatic access to (receive and collect) certain anonymous information in standard usage logs through our web server, obtained from cookies sent to your browser from web server cookies stored on your hard drive, including but not limited to:</p>
      <ul><li>Computer-identification information.</li>
      <li>IP address, assigned to the computer which you use.</li>
      <li>The domain server through which you access our service.</li>
      <li>The type of computer you are using.</li>
      <li>The type of web browser you are using.</li>
      <li>While you are transacting on our website personally identifiable information collected about you may include:</li>
      <li>First and last name.</li>
      <li>Email addresses.</li>
      <li>Contact details including phone numbers.</li>
      <li>PIN/ZIP code.- Demographic profile (like your age, gender, occupation, education, address and durables owned).</li>
      <li>Your opinion on services, products, features on our websites.</li>
      </ul><p>We may also collect the following information about:</p>
      <ul><li>The pages you visit/access.</li>
      <li>The links you click on our website.</li>
      <li>The number of times you access the page.</li>
      <li>Things you view, add to bag, add to wish list.</li>
      </ul><p>You may terminate your account at any time by writing to us at care@leffet.in from the email ID you have used for creating your account login, and mentioning Please close my leffet.in account in the subject line. We will disable access to your account within 2 working days of receiving your mail. However, your information may remain stored in archive on our servers even after the deletion or termination of your account.</p>
      <h3><strong>DISCLOSURE</strong></h3>
      <p>We never rent or sell your information with any third parties. We only share your information with our agents and alliance partners/ third parties.</p>
      <p>The third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.</p>
      <p>However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.</p>
      <p>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.</p>
      <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.</p>
      <h3><strong>SECURITY PROCEDURES TO PROTECT YOUR INFORMATION FROM LOSS, MISUSE OR ALTERATION</strong></h3>
      <p>To protect your privacy and security, we will verify your identity before granting access or making changes to your personally identifying information. If you have registered your profile on leffet.in, your leffet.in ID and Password are required in order to access your profile information.</p>
      <p>To protect against the loss, misuse and alteration of the information under our control, we have in place appropriate physical, electronic and managerial procedures. For example, our servers are accessible only to authorized personnel and your information is shared with respective personnel on need-to-know basis to complete the transaction and to provide the services requested by you.</p>
      <p>Although we will strive to safeguard the confidentiality of your personally identifiable information, transmissions made by means of the Internet cannot be made absolutely secure. By using this website, you agree that l’effet will have no liability for disclosure of your information due to errors in transmission or unauthorized acts of third parties.</p>
      <p>All information gathered on leffet.in is securely stored within the leffet.in controlled database. The database is stored on servers secured behind a firewall; access to the servers is password-protected and is strictly limited. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet and, of course, any information you include in a posting to the discussion areas is available to anyone with internet access.</p>
      <p></p>
      <h3><strong>AGE OF CONSENT</strong></h3>
      <p>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>
      <p></p>
      <h3><strong>CHANGES TO THIS PRIVACY POLICY</strong></h3>
      <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website.</p>
          
      
          
            
          
      
          
            
          
      
        </section>
          <% } %>
    
  

  
    
      <footer class="page-footer">
        
          <!-- Footer content -->
        
      </footer>
    

  </section>


    
  </div>


            
          </div>
                  </div>
              	
      </section>
      <%- include ('./indexfooter.ejs') %> 
